/* You can add global styles to this file, and also import other style files */
body {
  min-height: 75rem;
  padding-top: 4rem;
}
.card-header{
  background-color: white;
  border-bottom: none;
}
.todoRemove{
  float: right;
  padding-left: 8px;
  padding-right: 8px;
}
.deleteButtonDiv{
  padding-right: 0;
}
.todoEditButton{
  float: left;
}
.todoSuccesButton{
  float: right;
}

.card-text{
  height: fit-content;
}
