<nav class="navbar navbar-expand-lg navbar-dark bg-danger fixed-top">
  <a class="navbar-brand" href="#">Björn's Todo's</a>
  <button class="navbar-toggler hidden-sm-up" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarsDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/" routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/todos">Todo's</a>
      </li>
      <li class="newTodoGlyph">
          <fa-icon (click)="open(content)" [icon]="['fas','plus']"></fa-icon>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">

      <input class="form-control mr-sm-2" type="search" placeholder="Quick find Todo" aria-label="Search">
      <button class="btn btn-dark my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<ng-template #content let-modal>
  <div class="modal-header newTodoHeader">
    <h5 class="modal-title" id="modal-basic-title">New Todo</h5>
    <button type="button" class="btn btn-danger" aria-label="Close" (click)="modal.dismiss(CROSS_CLICK_NAME)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="newTodoForm">
      <div class="form-group">
        <label for="title" class="col-form-label">Title:</label>
        <input formControlName="todoTitle" type="text" class="form-control" id="title">
      </div>
      <div class="form-group">
        <label for="description" class="col-form-label">Description:</label>
        <textarea formControlName="todoDescription" class="form-control" id="description"></textarea>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss(CANCEL_CLICK_NAME)">Cancel</button>
    <button type="button" [disabled]="!newTodoForm.valid" class="btn btn-danger" (click)="modal.close(CREATE_TODO_CLICK_NAME)">Create Todo</button>
  </div>
</ng-template>
